<div class= "container" id="first">
    <h4>Escape reality</h4>
    <h4>Enjoy an adventure in nature</h4>
</div>

<div class="container" id="second">
    <p>
    Work hard, play hard!  Live busy, rest easy.
    </p>
    <p>
    Enjoy a trip in the wild in our all-inclusive vintage mini RV.
    It'll take you back to a simplier time where you can enjoy the 
    nature and relax alone or with those you love.
    </p>
</div>

